#header h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    margin: 0;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none !important;
}

.loading-indicator {
    width: 80px;
    height: 80px;
}

.photo-item  figcaption {
    font-size: 0.9em;
    display: table;
    width: 100%;
}

.author img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.author .name {
    display: inline-block;
    height: 40px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    margin: 0 5px;
    text-align: left;
}

.author a.img {
    border: none;
    display: inline-block;
} 

.photo-item .actions {
    display: none;
}

.photo-item .author {
    float: left;
}

.photo-item .uploaded-date {
    line-height: 40px;
}

.photo-item .stat {
    float: right;
    line-height: 40px;
}

.photo-item .stat .delim {
    display: none;
}

.photo-item .stat .txt {
    display: none;
}
.poptrox-popup .caption  {
    padding-top: 15px;
    height: auto;
    min-height: 3em;
}

.poptrox-popup .caption p,
.photo-item p{
    margin: 0;
}

.poptrox-popup .caption .author {
    float: left;
    margin-left: 1em;
    line-height: 40px;
}

.poptrox-popup .caption .stat {
    float: left;
    line-height: 40px;
}

.poptrox-popup .caption .actions {
    float: right;
    margin-right: 0.5em;
    margin-top: -5px;
}

.select-wrapper.small select {
    font-size: 12pt;
	padding-right: 2em;
}

.select-wrapper.small::before {
    font-size: 10pt;
    line-height: 2.4em;
    right: 0.3em;
	top: 0.5em;
}

.button.facebook {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #ffffff !important;
}

.button.facebook:hover {
    background-color: #4267b2;
    border-color: #4267b2;
}

.button.facebook:active {
    background-color: #4267b2;
    border-color: #4267b2
}

.qq-gallery .qq-upload-button {
	background-color: #49bf9d;
    border-color: #49bf9d;
    color: #ffffff !important;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	border-radius: 0.35em;
	padding: 0.4em 1.5em;
	font-size: 0.8em;
}

.qq-gallery .qq-upload-button:hover {
	background-color: #5cc6a7;
    border-color: #5cc6a7;
}

.qq-gallery .qq-upload-button:active {
	background-color: #3eb08f;
    border-color: #3eb08f;
}

.button.google-plus {
    background-color: #db4437;
    border-color: #db4437;
    color: #ffffff !important;
}

.button.google-plus:hover {
    background-color: #d50f25;
    border-color: #d50f25;
}

.button.google-plus:active {
    background-color: #d50f25;
    border-color: #d50f25;
}

.error.message {
    color: #d50f25;
    font-weight: bold;
    display: block;
    font-size: 0.8em;
}

header.menu {
    background: transparent none repeat scroll 0 0;
    height: 30px;
    left: 0;
    padding: 9px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 222;
}

 a.menu-btn {
	font-size: 18pt;
	border: none;
	text-decoration: none;
	margin: 0.2em;
	display: none;
	cursor: pointer;
	
}
a.menu-btn i {
	color: white; 
}

.show-menu {
	display: block !important;
} 

header.menu  .btn {
    font-size: 0.8em;
    text-decoration: none;
    border: 2px solid #b2b2b2;
    color: #b2b2b2;
    padding: 0px 16px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

header.menu  .btn:HOVER, 
header.menu  .btn:ACTIVE {
    border: 2px solid #49bf9d;
    color: #49bf9d;
}

@media screen and (max-width: 479px) {
	.poptrox-popup .caption .author {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.poptrox-popup .caption .stat {
		display: none;
	}
}

@media screen and (max-width: 980px) {
    /*header.menu  .btn {
        border: 2px solid white;
        color: white;
    }

    header.menu  .btn:HOVER, 
    header.menu  .btn:ACTIVE {
        border: 2px solid rgb(246,238,118);
        color: rgb(246,238,118) !important;
    }*/
	
	header.menu {
		position: relative;
		height: auto;
		    background-color: #1f1815;
    background-attachment: scroll, fixed;
    background-image: url(images/overlay.png), url(images/bg.jpg);
    background-position: top left,top left;
    background-repeat: repeat,no-repeat;
    background-size: auto, 100%;
	}
	 a.menu-btn {
		 display: block;
	 }
	 
	 .items {
		 border-top: 1px solid gray;
		 display: none;
	 }
	 
	 .items a.btn {
		 display: block;
		 padding-top: 0.7em;
		 padding-bottom: 0.7em;
		 border: none;
		 color: white !important;
		 
		 -moz-transition: none;
		-webkit-transition: none;
		-ms-transition: none;
		transition:none;
		border-radius: 0;
		margin:0;
	 }
	 
	 header.menu .items a.btn:HOVER {
		 border: none !important;
		 background-color: #49bf9d;
	 }
	 header.menu .items a.btn:ACTIVE {
		 border: none !important;
		 background-color: #49bf9d;
	 }
}

#avatar-uploader {
    cursor: pointer;
    position: relative;
}

#avatar-uploader input[type=file] {
    z-index: 9999;
}

#avatar-uploader .avatar-uploading {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left:50%;
    margin-left: -25px;
    margin-top: -25px;
}

#avatar-uploader .background {
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
    background: rgba(0,0,0,0.8);
    border-radius: 100%;
}

#avatar-uploader:before {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background: url("images/overlay.png");
    border-radius: 0.35em;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 100%;
}

#avatar-uploader:after {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    border-radius: 0.35em;
    border: solid 3px rgba(255, 255, 255, 0.5);
    color: #fff;
    content: 'Upload';
    display: inline-block;
    font-size: 0.8em;
    font-weight: 400;
    left: 47%;
    line-height: 2.25em;
    margin: -1.25em 0 0 -3em;
    opacity: 0;
    padding: 0 1.5em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    white-space: nowrap;
}

#avatar-uploader:hover:after {
    opacity: 1.0;
}

#avatar-uploader:hover:before {
    background: url("images/overlay.png"), url("images/overlay.png");
    opacity: 1.0;
}

.qq-gallery.qq-uploader {
	min-height: 490px;
}

.qq-gallery .qq-upload-button {
    width: auto;
}

.upload-container {
	position: relative;
}
.upload-container .center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -20px;
	text-align: center;
}

.upload-container.image.thumb:after {
	-moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
	display: none;
}

.progress.photo-uploading {
	position: absolute;
    width: 50px !important;
    height: 50px !important;
    top: 50%;
    left:50%;
    margin-left: -25px;
    margin-top: -25px;
}